.description__section {
  background-color: #ffffff;
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;
  .description__text {
    background-color: #ffffff;
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-inline: clamp(1rem, 9vw, 10rem);
    clip-path: inset(0% 0% 100% 0%);
    transition: clip-path 2s ease-in-out;
    &.is-inview {
      clip-path: inset(0% 0% 0% 0%);
    }
    p {
      max-width: 100%;
      margin: 0;
      text-indent: 3rem;
    }
  }
  .description__image {
    width: 50%;
    height: 100%;
    // object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      // min-width: 100%;
      max-width: 190%;
      max-height: 120%;
      // object-fit: fill;
      filter: sepia(0.1);
    }
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
  &:nth-child(2n) {
    height: 40rem;
  }
  &:nth-child(3n) {
    height: 30rem;
  }
}

@media (max-width: 1024px) {
  .description__section {
    height: auto;
    flex: 1;
    flex-direction: column;
    .description__image {
      width: 100%;
      min-height: 20rem;
      max-height: 30rem;
    }
    .description__text {
      width: 100%;
      padding: clamp(3rem, 8vw, 10rem);
    }
    &:nth-child(even) {
      flex-direction: column;
    }
    &:nth-child(1n) {
      flex-direction: column-reverse;
    }
  }
}
