.divider__large {
  height: clamp(30rem, 60vw, 60rem);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // img {
  //   width: 100%;
  // }
}
.divider__small {
  z-index: 100;
  box-sizing: border-box;
  background-color: #f7f7f7;
  width: 100%;
  height: 60rem;
  padding: clamp(3rem, 12vw, 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  .divider__image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 2s cubic-bezier(0.7, 0, 0.175, 1);
    img {
    }
  }
  &.is-inview {
    .divider__image {
      clip-path: inset(0% 0% 0% 0%);
    }
    .divider__source {
      clip-path: inset(0% 0% 0% 0%);
    }
  }
}

.text__divider {
  box-sizing: border-box;
  padding-block: clamp(5rem, 20vw, 10rem);
  padding-inline: clamp(1rem, 6vw, 10rem);
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  z-index: 100;
  h1 {
    font-size: clamp(2rem, 4vw, 4rem);
  }
  h2 {
    max-width: clamp(30rem, 70vw, 70rem);
    font-size: clamp(1rem, 2vw, 2rem);
  }
}

@media (max-width: 1024px) {
  .divider__small {
    height: 100vw;
    .divider__image {
      align-items: center;
    }
  }
}
