.cities {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .title {
    height: 100%;
    @media screen and (max-width: 800px) {
      padding-bottom: 10%;
    }
  }
}

.cursor-follow {
  position: absolute;
  width: 22rem;
  height: 22rem;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 200;
  filter: brightness(0.7);

  @media screen and (max-width: 800px) {
    display: none;
  }
}

.cursor-follow__img {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: -30%;
  left: 0;

  &.active {
    visibility: visible;
  }
}
