.cities {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  img {
    width: 250%;
    min-height: 120%;
    object-fit: cover;
    filter: sepia(0.1);
  }
  .text__wrapper {
    box-sizing: border-box;
    padding: 5rem;
    width: 100%;
    background-color: white;
    // z-index: 100;
  }
  p {
    margin-bottom: 5rem;
  }
}
