.title {
  position: relative;
  box-sizing: border-box;
  min-height: 60vh;
  width: 100%;
  background-color: #313641;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #cdc9bd;
  z-index: 100;

  .text__wrapper {
    overflow: hidden;
    z-index: 210;
    h1,
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    h1 {
      transition-delay: 0s;
      font-size: 10vw;
    }
    h2 {
      transition-delay: 300ms;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }
  .cities__list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    a {
      position: relative;
      text-decoration: none;
      width: 12rem;
      text-align: center;
      overflow: hidden;
      z-index: 210;
    }
    h2 {
      font-weight: 200;
      color: #cdc9bd;
      font-size: clamp(1.5rem, 6vw, 2.5rem);
      z-index: 1;
      will-change: font-weight;
      transition: color 300ms ease-out, font-weight 300ms ease-out;

      &:hover {
        font-weight: 500;
        color: white;
      }
    }
  }
}
@media (max-width: 800px) {
  .cities__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
