.title {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: clamp(2rem, 10vw, 8rem);
  padding-bottom: clamp(8rem, 20vw, 15rem);

  width: 100%;
  background-color: #2d3136;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e2e5eb;
  z-index: 100;

  h1 {
    font-size: 10vw;
  }
  p {
    margin: 0;
    font-size: 2rem;
    position: absolute;
    bottom: 25%;
    transition: 2s;
  }
}
