.city__title {
  box-sizing: border-box;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
  align-items: center;
  padding-inline: 10%;
  padding-block: 8rem;
  padding-top: 12rem;
  background-color: #f7f7f7;
  .text__wrapper {
    overflow: hidden;
    grid-column: 1/6;
    grid-row: 1/2;
    mix-blend-mode: difference;
    z-index: 100;
    white-space: nowrap;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 10vw;
      color: rgb(255, 255, 255);
      word-wrap: none;
    }
  }
  .city__image__wrapper {
    grid-column: 4/11;
    grid-row: 1/2;
    height: clamp(10rem, 40vw, 40rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}
@media (max-width: 800px) {
  .city__title {
    padding-block: 10%;
    padding-top: clamp(6rem, 40vw, 8rem);
    display: flex;
    flex-direction: column;
    .text__wrapper {
      overflow: hidden;
      mix-blend-mode: normal;
      z-index: 100;
      margin-bottom: 1rem;
      h1 {
        font-size: 10vw;
        color: #131313;
      }
    }
    .city__image__wrapper {
      grid-column: 1/2;
      grid-row: 2/3;
      width: 100%;
      display: flex;
      height: 20rem;
      justify-content: center;
      align-items: center;
    }
  }
}
