.city__title {
  box-sizing: border-box;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
  align-items: center;
  padding-inline: 10%;
  padding-block: 8rem;
  padding-top: 12rem;
  background-color: #f7f7f7;
  .text__wrapper {
    overflow: hidden;
    grid-column: 1/6;
    grid-row: 1/2;
    mix-blend-mode: difference;
    z-index: 100;
    h1 {
      transition: transform 2s cubic-bezier(0.7, 0, 0.175, 1);
      transition-delay: 800ms;
      -webkit-transform: translateY(100%);
      font-size: 10vw;
      color: rgb(255, 255, 255);
    }
    &.is-inview {
      h1 {
        transform: translateY(0%);
      }
    }
  }
  .city__image {
    grid-column: 4/11;
    grid-row: 1/2;
    height: clamp(10rem, 40vw, 40rem);
    width: 100%;
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
    transition-delay: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      //   height: 140%;
    }
  }
  &.is-inview {
    .city__image {
      clip-path: inset(0% 0% 0% 0%);
    }
  }
}
@media (max-width: 800px) {
  .city__title {
    padding-block: 10%;
    padding-top: clamp(6rem, 40vw, 8rem);
    display: flex;
    flex-direction: column;
    .text__wrapper {
      overflow: hidden;
      mix-blend-mode: difference;
      z-index: 100;
      h1 {
        transition: transform 2s cubic-bezier(0.7, 0, 0.175, 1);
        transition-delay: 800ms;
        -webkit-transform: translateY(100%);
        font-size: 10vw;
        color: rgb(255, 255, 255);
      }
      &.is-inview {
        h1 {
          transform: translateY(0%);
        }
      }
    }
    .city__image {
      grid-column: 1/2;
      grid-row: 2/3;
      height: 20rem;
      width: 100%;
      clip-path: inset(100% 0% 0% 0%);
      transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
      transition-delay: 1s;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        //   height: 140%;
      }
    }
    &.is-inview {
      .city__image {
        clip-path: inset(0% 0% 0% 0%);
      }
    }
  }
}
