.intro {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  img {
    min-height: 120%;
    max-width: 100%;
    object-fit: cover;
    filter: grayscale(0.5);
    transition: filter 2s, min-height 2s ease-in-out;
    &:hover {
      filter: grayscale(0.2);
      min-height: 130%;
    }
  }
}
.title {
  padding-block: clamp(5rem, 20vw, 15rem);
  width: 100%;
  background-color: #1f2a3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 100;
  h1 {
    font-size: 12vw;
  }
  h2 {
  }
}
.intro__image {
  height: clamp(2rem, 60vw, 60rem);
}
.text__section {
  box-sizing: border-box;
  padding-block: clamp(5rem, 20vw, 10rem);
  padding-inline: clamp(1rem, 6vw, 10rem);
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  color: #1f2a3b;
  z-index: 100;
}
.description {
  z-index: 100;
  height: 100vh;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .left {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: clamp(1rem, 6vw, 10rem);
    p {
      max-width: 100%;
      margin: 0;
      text-indent: 5rem;
    }
  }
  .right {
    height: 100%;
    width: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // img {
    //   height: 140%;
    // }
  }
}
.divider {
  z-index: 100;
  box-sizing: border-box;
  background-color: #f7f7f7;
  width: 100%;
  height: 50rem;
  padding: clamp(1rem, 8vw, 10rem);
  .divider__image {
    overflow: hidden;
    height: 100%;
  }
}
