.intro {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  img {
    // width: 100%;
    height: 140%;
    // max-height: 140%;
    filter: sepia(0.2);
  }
}
@media (max-width: 1024px) {
  .intro {
    img {
      // max-height: 200%;
      // min-width: 100%;
    }
  }
}
