.divider__large {
  height: clamp(30rem, 60vw, 60rem);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.divider__small {
  box-sizing: border-box;
  z-index: 100;
  background-color: #f7f7f7;
  width: 100%;
  height: 60rem;
  padding: 0;
  display: flex;
  padding: clamp(2rem, 10vw, 10rem);

  &.in-view {
    .divider__image {
      clip-path: inset(0% 0% 0% 0%);
      img {
        width: 100%;
      }
    }
  }

  .divider__image {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 1s cubic-bezier(0.7, 0, 0.175, 1);
  }
}

.text__divider {
  z-index: 100;
  box-sizing: border-box;
  padding-block: clamp(5rem, 20vw, 10rem);
  padding-inline: clamp(1rem, 6vw, 10rem);
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  .text__wrapper {
    overflow: hidden;

    h1 {
      font-size: clamp(2rem, 4vw, 4rem);
    }
    h2 {
      max-width: clamp(30rem, 70vw, 70rem);
      font-size: clamp(1rem, 2vw, 2rem);
    }
  }
}
.next__page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  color: #2d3136;
  text-decoration: none;
  background-color: #ffffff;
}
@media (max-width: 1024px) {
  .divider__small {
    height: 100vw;
    .divider__image {
      align-items: center;
    }
  }
}
