nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  height: clamp(4rem, 10vw, 5rem);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.7, 0, 0.175, 1);
  background-color: #313641;

  a {
    font-size: clamp(1rem, 3vw, 1.5rem);
    text-decoration: none;
    color: white;
    margin: 0;
    p {
      margin: 0;
    }
  }
}
nav.nav__active {
  transform: translateY(0%);
}
nav.nav__hidden {
  transform: translateY(-100%);
}
