@import url('https://fonts.googleapis.com/css?family=Bodoni+Moda:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  background-color: #1f2329;
  color: #131313;
}

h1 {
  font-family: 'Bodoni Moda';
  font-size: clamp(2rem, 6vw, 8rem);
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(1rem, 3vw, 3rem);
  font-weight: 200;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1f2329;
  z-index: 99999;
  cursor: wait;
}
img {
  object-fit: cover;
  height: 140%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.scroll__wrapper {
  background-color: white;
}

.scroll__container {
  will-change: transform;
}
