.text__divider__section {
  box-sizing: border-box;
  padding-block: clamp(5rem, 20vw, 10rem);
  padding-inline: clamp(1rem, 6vw, 10rem);
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  z-index: 100;
  h1 {
    font-size: clamp(2rem, 6vw, 4rem);
  }
}
